body{
    font:20px/2 Arial, Helvatica ,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
h1{
  text-align: center;
}
.hbd span { 
      color: #fffff; 
	  text-align: center;
	  font-family:cursive;
      //background: #fff; 
      //padding: 10px 20px; 
      display: table-cell; 
      /*box-shadow: inset 0 0 5px 
                  rgba(0, 0, 0, 0.3), 
                  0 5px 0 #ccc; */
      animation: animate 0.5s infinite; 
    } 
  
    /* Specify the animation keyframes 
       to be used to move the letters */ 
    @keyframes animate { 
      0% { 
        transform: translateY(0px); 
      } 
  
      50% { 
        transform: translateY(-20px); 
      } 
  
      /*100% { 
        transform: translateY(0px); 
      } */
    } 
  
    /* Specify a slight delay for 
       each of the letters */ 
    .hbd span:nth-child(1) { 
      animation-delay: 0.1s; 
    } 
  
    .hbd span:nth-child(2) { 
      animation-delay: 0.2s; 
    } 
  
    .hbd span:nth-child(3) { 
      animation-delay: 0.3s; 
    } 
  
    .hbd span:nth-child(4) { 
      animation-delay: 0.4s; 
    } 
  
    .hbd span:nth-child(5) { 
      animation-delay: 0.5s; 
    } 
  
    .hbd span:nth-child(6) { 
      animation-delay: 0.6s; 
    } 
  
    .hbd span:nth-child(7) { 
      animation-delay: 0.7s; 
    } 
  
    .hbd span:nth-child(8) { 
      animation-delay: 0.8s; 
    } 
  
    .hbd span:nth-child(9) { 
      animation-delay: 0.9s; 
    } 
  
    .hbd span:nth-child(10) { 
      animation-delay: 1s; 
    } 
  
    .hbd span:nth-child(11) { 
      animation-delay: 1.1s; 
    } 
  
    .hbd span:nth-child(12) { 
      animation-delay: 1.2s; 
    } 
  
    .hbd span:nth-child(13) { 
      animation-delay: 1.3s; 
    }
.hbd span:nth-child(14) { 
      animation-delay: 1.4s; 
    }	
	
	

.container{
    width:100%;
    margin: auto;
    overflow: hidden;
}
.start{
	text-align:center;
	font-family:cursive;
	}
.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:20%;
	}
ul{
    padding: 0px;
    margin: 0px
}

/*header*/
header{
    background: #283747;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-style:solid;
    border-color: orangered;
    padding-left: 20px;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin:0px;
}

header nav{
    float: =right;
    margin-left: 700px;
    margin-top: 20px;
}

header .highlight , header .current a{
    color:#108767;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;}
            
                
                
                .contain {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
    opacity:.4;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.contain:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color:red;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
           
            
   
.typewriter {
  font-family: monospace; /* Web-safe typewriter-like font */
  text-align:center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blinking-cursor .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 40% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: black; }
}